.banner {
    font-family: var(--fonte-principal);
    padding: 0 0 4em;
        
    img {
        width: 100%;
        
    }

    &__info {
        position: absolute;
        padding: 0em 30em 0 7em;
        top: 130px;

    h1 {
       
       font-size: 45px;
       font-weight: 700;
    }

    p {
        font-size: 20px;
        font-weight: 300;
        position: relative;
       
    }

    button {
        background-color: var(--roxo);
        border-radius: 8px;
        color: var(--branco);
        width: 310px;
        height: 48px;
        border: none;
    }

    button:hover {
        background-color: var(--branco);
        color: var(--roxo);
        border: 2px solid var(--roxo);
    }
}
}

@media screen and (max-width: 1024px) {
.banner {
    &__info {
        padding: 0em 25em 0 2em;
        top: 110px;

    h1 {
       font-size: 35px;

    }

    p {
        font-size: 18px;
       
    }

    button {
        width: 250px;
        height: 35px;
    }
    }
}
}


@media screen and (max-width: 768px) {
    .banner {
        &__info {
            padding: 0em 25em 0 2em;
            top: 120px;
    
        h1 {
           font-size: 20px;
    
        }
    
        p {
            font-size: 14px;
           
        }
    
        button {
            width: 210px;
            height: 35px;
        }
        }
    }
    }
    

